:root{
    --green-tittle: #8dc63f;
    --white-header: #ffffff;
    --green-logout: #458559;
    --blue-body:    #eff7ff;
    --green-button: #008254;
    --orange-footer:#fff7ea;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto Flex', sans-serif;
}
body{
    font-size: 1.6rem;
    background-color: var(--blue-body);
}
header{
    display: flex;
    width: 100%;
    height: 66px;
    background-color: var(--white-header);
}
.header--img-container {
    display: flex;
    height: inherit;
    object-fit: cover;
}
h1 {
    font-size: 3.6rem;
    line-height: 42.75px;
    font-weight: 500;
}
.text--section-tittle {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.08px;
    line-height: 2.6rem;
}
figure img{
    margin: 16px;
    width: 34px;
    height: 34px;
}
nav{
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 16px;
    align-items: center;
    gap: 16px;
}
div a{
    color: var(--green-tittle);
    font-weight: bolder;
    text-decoration: none;
}
.header--signin-container {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
}
.header--join-container {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
}
.section--container-tittle {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 20px;
    text-align: center;
}
p.text--bolder {
    font-weight: bolder;
}
section.card--section {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 10px;
}
.card--section div {
    background-color: var(--white-header);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px 80px 20px 80px;
    box-shadow: 0px 0PX 2px #9be3e0;
    border-radius: 3px;
    font-weight: bolder;
    color: gray;
}
.card--credit-img {
    background-image: url(/Assets/icons/credit-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
.card--investing-img{
    background-image: url(/Assets/icons/Investing.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
.card--Insurance-img{
    background-image: url(/Assets/icons/insurance.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
.card-Personal-img{
    background-image: url(/Assets/icons/personal-loans.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
.card-banking-img{
    background-image: url(/Assets/icons/bank.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
.card--travel-img{
    background-image: url(/Assets/icons/travel.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
.card--student-img{
    background-image: url(/Assets/icons/Student-Loans.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
.card--mortgages-img{
    background-image: url(/Assets/icons/mortgages.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 30px;
    position: relative;
    right: 10px;
    bottom: 5px;
}
section.information--section {
    margin: 40px 20px 40px 20px;
}
p.information--tittle {
    font-weight: bolder;
    color: grey;
    margin-bottom: 15px;
    font-size: 1.3rem;
}
.information--section h2 {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: 0.04px;
    margin-bottom: 20px;
}
.information--img{
    width: 100%;
    height: 350px;
    background-image: url(/Assets/img/cell-phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
p.information--text {
    letter-spacing: 0.08px;
    line-height: 2.4rem;
    text-align: justify;
}
button.buttom-information {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #008255;
    color: var(--white-header);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 60px;
}
.container--cards{
    width: 100%;
    height: 350px;
    background-image: url(/Assets/img/IMG_4128.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
p.select--score {
    margin-top: 20px;
    letter-spacing: 0.08px;
    line-height: 2.4rem;
    text-align: justify;
}
select.select--score {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
}
.spacing{
    margin-bottom: 10px;
}
.buttom-type{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #008255;
    color: var(--white-header);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.container--div-information {
    display: flex;
    margin-top: 80px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.item {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    scroll-snap-align: center;
    min-width: 100%;
}
.item p {
    margin: 10px 10px 0px 10px;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: justify;
}
.item button {
    width: 80%;
    margin: 20px 10px 0px 5px;
    padding: 10px;
    border: 1px solid green;
    background-color: #f1f5f8;
    font-weight: bolder;
    color: #008255;
}
p.tittle--div {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.81px;
}
.tittle--div {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.81px;
}
.blue {
    background-color: #005fb9;
    color: white;
}
.green {
    background-color: #E3FAF2;
}
.green .tittle--div {
    color: #64666a;
}
.blue2 {
    background-color: #4C99E6;
    color: white;
}
.gray {
    background-color: #F5F5F5;
}
.gray .tittle--div{
    color: #64666a;
}
.green2 {
    background-color: #E3FAF2;
}
.green2 .tittle--div{
    color: #64666a;
}
.blue3 {
    background-color: #4C99E6;
    color: white;
}
p.help--tittle {
    font-weight: bolder;
    color: grey;
    margin-bottom: 15px;
    font-size: 1.3rem;
}
.help--information {
    display: grid;
    grid-auto-columns: 80%;
    margin-top: 50px;
}
.reasons__bullets {
    margin: 16px 0px 16px 0px;
}
.reasons__bullets h3{
    margin-bottom: 16px;
}